/* Applies to the header and footer */
	body	{border: 0; margin: 0;}
	td		{font-family: sans-serif; color: #282828;}
	#header	{border-bottom: 1px solid #282828; width: 100%;}
	#footer	{border-top: 1px solid #282828; width: 100%;}